<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <title>Ballot | Online Voting Platform</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <style type="text/tailwindcss">
        @tailwind base;
        @tailwind components;
        @tailwind utilities;

        @layer components {
            .input-field{
                @apply border border-gray-300/50 rounded p-2 w-full bg-white text-black shadow-lg shadow-gray-300/30 text-gray-800 text-sm;
            }

            .red-btn{
                @apply transition ease-linear delay-150 p-2 rounded-lg hover:text-white hover:bg-red-500 text-red-500 border-2 border-red-500;
            }

            .green-btn{
                @apply transition ease-linear delay-150 p-2 rounded-lg hover:text-white hover:bg-green-500 text-green-500 border-2 border-green-500
            }

            .yellow-btn{
                @apply transition ease-linear delay-150 p-2 rounded-lg hover:text-white hover:bg-yellow-500  text-yellow-500 border-2 border-yellow-500;
            }

            .purple-btn{
                @apply transition ease-linear delay-150 p-2 rounded-lg hover:text-white hover:bg-purple-500  text-purple-500 border-2 border-purple-500;
            }

            .blue-btn{
                @apply transition ease-linear delay-150 p-2 rounded-lg hover:text-white hover:bg-blue-500  text-blue-500 border-2 border-blue-500;
            }
        }
    </style>
    <script>
      const token = document
        .querySelector(`meta[name="csrf-token"]`)
        .getAttribute("content");

      function updateQuestion(id) {
        fetch(`/elections/<%= election.id %>/questions/${id}`, {})
          .then((res) => res.json())
          .then((question) => {
            fetch(`/elections/<%= election.id %>/questions/${id}`, {
              method: "put",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                _csrf: token,
                ...question,
                title: document.getElementById("question-title-" + id).value,
                description: document.getElementById(
                  "question-description-" + id
                ).value,
              }),
            })
              .then((res) => {
                if (res.ok) {
                  window.location.reload();
                }
              })
              .catch((err) => {
                console.error(err);
              });
          });
      }

      function deleteQuestion(id) {
        fetch(`/elections/<%= election.id %>/questions/${id}`, {
          method: "delete",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            _csrf: token,
          }),
        })
          .then((res) => {
            if (res.ok) {
              window.location.reload(true);
            }
          })
          .catch((err) => {
            console.error(err);
          });
      }

      function updateOption(qid, id) {
        fetch(
          `/elections/<%= election.id %>/questions/${qid}/options/${id}`,
          {}
        )
          .then((res) => res.json())
          .then((option) => {
            fetch(
              `/elections/<%= election.id %>/questions/${qid}/options/${id}`,
              {
                method: "put",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify({
                  _csrf: token,
                  ...option,
                  title: document.getElementById("option-title-" + id).value,
                }),
              }
            )
              .then((res) => {
                if (res.ok) {
                  window.location.reload(true);
                }
              })
              .catch((err) => {
                console.error(err);
              });
          });
      }

      function deleteOption(qid, id) {
        fetch(`/elections/<%= election.id %>/questions/${qid}/options/${id}`, {
          method: "delete",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            _csrf: token,
          }),
        })
          .then((res) => {
            if (res.ok) {
              window.location.reload(true);
            }
          })
          .catch((err) => {
            console.error(err);
          });
      }

      function deleteVoter(id) {
        fetch(`/elections/<%= election.id %>/voters/${id}`, {
          method: "delete",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            _csrf: token,
          }),
        })
          .then((res) => {
            if (res.ok) {
              window.location.reload(true);
            }
          })
          .catch((err) => {
            console.error(err);
          });
      }
    </script>
  </head>
  <body class="bg-black/70 grid place-items-center min-h-screen">
    <div
      class="text-white w-1/2 rounded-xl p-5 shadow-[rgba(0,_0,_0,_0.4)_0px_30px_90px] bg-black m-10"
    >
    <div class="flex justify-between items-center">
        <p class="text-4xl font-bold">Ballot</p>
        <div class="flex gap-2">
            <a class="blue-btn" href="/dashboard"><i class="bi bi-house-fill pr-3"></i>Dashboard</a>
            <a class="red-btn" href="/signout"><i class="bi bi-door-closed-fill pr-2"></i>Sign out</a>
        </div>
    </div>
    <div class="flex justify-between items-center p-4">
        <h1 class="text-3xl font-bold"><%= election.name %></h1>
        <div class="flex gap-2">
            <a class="purple-btn" href="/elections/<%= election.id %>/preview">
                <i class="bi bi-binoculars-fill pr-2"></i>Preview
            </a>
            <!-- <a class="blue-btn" href="/elections/<%= election.id %>/preview">Preview</a>
            <a class="green-btn" href="/elections/<%= election.id %>/preview">Preview</a>
            <a class="red-btn" href="/elections/<%= election.id %>/preview">Preview</a> -->
        </div>
    </div>
    <div class="border border-4 rounded-xl p-4 m-2 bg-gray-800">
        <div class="text-4xl font-bold">Questions</div>
        <form action="/elections/<%= election.id %>/questions" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <div class="flex py-4 gap-2">
            <div class="flex-auto">
              <input
                name="title"
                class="input-field"
                type="text"
                placeholder="Enter question title"
                required
              />
            </div>
            <div class="flex-auto">
              <input
                name="description"
                class="input-field"
                type="text"
                placeholder="Enter question description"
                required
              />
            </div>
            <div class="flex-none">
              <button
                class="green-btn"
                type="submit"
              >
              <i class="bi bi-plus-circle-fill pr-2"></i>Add
              </button>
            </div>
          </div>
        </form>
        <ul class="flex flex-col gap-6">
          <% for(let i = 0; i < election.Questions.length; i++) { %>
          <li class="hover:bg-gray-600 p-4 border-2 border-white rounded-xl">
            <div class="font-bold">
                Question <%= i + 1 %>
            </div>
            <div>
                <div class="flex py-4 gap-2">
                <input
                    class="flex-auto input-field"
                    type="text"
                    value="<%= election.Questions[i].title %>"
                    id="question-title-<%= election.Questions[i].id %>"
                />
                <input
                    class="flex-auto input-field"
                    type="text"
                    value="<%= election.Questions[i].description %>"
                    id="question-description-<%= election.Questions[i].id %>"
                />
                <a
                    href="#"
                    class="flex-none yellow-btn"
                    onClick="updateQuestion(<%= election.Questions[i].id %>)"
                    ><i class="bi bi-pencil-fill pr-2"></i>Edit</a
                >
                <a
                    href="#"
                    class="flex-none red-btn"
                    onClick="deleteQuestion(<%= election.Questions[i].id %>)"
                    ><i class="bi bi-trash3-fill pr-2"></i>Delete</a
                >
                </div>
            </div>
            <div>
                <div class="text-3xl font-bold">Options</div>
                <form
                    action="/elections/<%= election.id %>/questions/<%= election.Questions[i].id %>/options"
                    method="post"
                >
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <div class="flex py-4 gap-2 justify-between items-center">
                        <div class="flex-auto">
                            <input
                                name="title"
                                class="input-field"
                                type="text"
                                placeholder="Enter option title"
                                required
                            />
                        </div>
                        <div class="flex-none">
                            <button
                                class="green-btn"
                                type="submit"
                            >
                            <i class="bi bi-plus-circle-fill pr-2"></i>Add
                            </button>
                        </div>
                    </div>
                </form>
                <ul class="flex flex-col gap-2">
                    <% for(let j = 0; j < election.Questions[i].Options.length; j++)
                    { %>
                    <li class="hover:bg-gray-500 p-2 border border-white rounded-xl">
                        <div class="flex py-1 gap-2 justify-between items-center">
                            <p class="flex-none font-bold">
                                Option <%= j + 1 %>
                            </p>
                            <input
                                class="flex-auto input-field"
                                type="text"
                                value="<%= election.Questions[i].Options[j].title %>"
                                id="option-title-<%= election.Questions[i].Options[j].id %>"
                            />
                            <a
                                class="flex-none yellow-btn"
                                href="#"
                                onClick="updateOption(<%= election.Questions[i].id %>, <%= election.Questions[i].Options[j].id %>)"
                            >
                                <i class="bi bi-pencil-fill pr-2"></i>Edit
                            </a>
                            <a
                                class="flex-none red-btn"
                                href="#"
                                onClick="deleteOption(<%= election.Questions[i].id %>, <%= election.Questions[i].Options[j].id %>)"
                            >
                                <i class="bi bi-trash3-fill pr-2"></i>Delete
                            </a>
                        </div>
                    </li>
                    <% } %>
              </ul>
            </div>
          </li>
          <% } %>
        </ul>
      </div>
      <div class="border border-4 rounded-xl p-4 m-2 bg-gray-800 mt-6">
        <div class="text-4xl font-bold">Voters</div>
        <form action="/elections/<%= election.id %>/voters" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <div class="flex py-4 gap-2 justify-between items-center">
            <input
                name="voterId"
                class="flex-auto input-field"
                type="text"
                placeholder="Enter voderId"
                required
            />
            <input
                name="password"
                class="flex-auto input-field"
                type="password"
                placeholder="Enter password"
                required
            />
            <div class="flex-none">
              <button
                class="green-btn"
                type="submit"
              >
              <i class="bi bi-plus-circle-fill pr-2"></i>Add
              </button>
            </div>
          </div>
        </form>
        <ul>
          <% for(let i = 0; i < election.Voters.length; i++) { %>
          <li class="border border-2 rounded-xl p-2 px-4 m-2 hover:bg-gray-600">
            <div class="flex justify-between items-center">
              <p class="flex-auto font-semibold"><%= election.Voters[i].voterId %></p>
              <a class="flex-none red-btn" href="#" onClick="deleteVoter(<%= election.Voters[i].id %>)"
                >
                <i class="bi bi-trash3-fill pr-2"></i>Delete
              </a>
            </div>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </body>
</html>
